.projects{
    width: 100%;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.projects-container{
    width: 80%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.project1{
    width: 50%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.project1::before,.project1::after{
    position: absolute;
    content: '';
    inset: -.3rem;
    background: conic-gradient(
        from var(--gradient-angle),
        rgb(0, 255, 200),
        rgb(0, 46, 253),
        rgb(0, 255, 200)
    );
    border-radius: inherit;
    z-index: -1;
    filter: blur(3px);
    animation: rotation 2s linear infinite;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotation{
    0%{
        --gradient-angle: 0deg;
    }
    100%{
        --gradient-angle: 360deg;
    }
}

.project1 div{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-image: linear-gradient(to bottom right,rgba(0, 255, 200, 0.5),rgba(0, 46, 253, 0.5));
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: top;
}
.project1:hover div{
    transform: scaleY(1);
}
.project1 a{
    display: block;
    width: fit-content;
    text-decoration: none;
    border: solid 2px white;
    color: white;
    background-color: rgba(0,0, 0, 0.5);
    padding: 20px 40px;
    text-transform: uppercase;
    transition: 0.5s;
}
.project1 a:hover{
    background-color: rgba(250,250, 250, 0.5);
    color: black;
    border: solid 2px black;
}

.project2{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/project2.png);
}